﻿
@{
    ViewBag.Title = "Info";
}

<section>
    <h2>HI !</h2>

    <h3> Some thoughts that come to my mind </h3>
    <ul>
        <li> Because main objective was written page only in C# I decided to use asp MVC (although I am not particularly experienced in it) and not use rest/spa approach </li>
        <li> In solution you can find some tests, I am aware of fact they are test only one section of code and in complete solution should be more </li>
        <li> I left few methods unimplemented, YAGNI - they are waiting for the time when they will be needed </li>
        <li> Passwords are stored in database in plain text - it is unacceptable but as it was hightlighted in task  objectives it was not included in the scope </li>

    </ul>

    <span>
        Best regards <b>Jakub Gwoźdź</b>
    </span>
</section>

